<div>
  <br>
    <div class="container">
        <div class="container">
          <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
              <div class="blocks">
                  <button button="submit" mat-raised-button color="primary" routerLink="/createuser">
                      Logout
                  </button>
              </div>
        </div>
    </div>
    <br>

<div>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Current User</h3>
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item> Id: {{ user.id }} </mat-list-item>
              <mat-list-item> Name: {{ user.name }} </mat-list-item>
              <mat-list-item> Username: {{ user.username }} </mat-list-item>
              <mat-list-item> Pw: {{ user.password }} </mat-list-item>
             </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card my-5">
    <div class="card-body">
      <a *ngIf="!service.loggedIn()">User not logged in</a>
      <table *ngIf="service.loggedIn() && user"  class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Field</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ user.name }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div> -->