<div class="card my-5">
    <div class="card-body">
      <a *ngIf="!service.loggedIn()">User not logged in</a>
      <table *ngIf="service.loggedIn() && user"  class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Field</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>{{ user.enabled }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>